.a{
    color: var( --burgundy-color);

}
.no{
    color: var(--main-color);
}
table{
    width: 100%;
    border-collapse: collapse;
}
tbody tr:nth-child(odd) {
    background-color: var(--light-grey-color);
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--pink-color);
  }
  thead th:nth-child(1) {
    width: 60%;
  }
  th, .td1, .td2{
    padding: 10px 0 10px 0;
  }
  
.td1{
    align-items: center;
    text-align: center;
  }
  .td2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  