@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;700&family=Raleway:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Bitter;
}
:root {
    font-size: 16px;
    --main-color-background: #B39B9C;
    --pink-color:#FFDEE0;
    --main-color:#615455;
    --light-grey-color:#DBBFC0;
   --burgundy-color : #46191B;
    --main-text: #f5f5f5FF;
}
@media (max-width: 940px) {
    :root {
        font-size: 12px;  
    }
}
body{
    background-color: var(--main-color-background);
}
.p1{
    color: var(--main-text);
text-align: center;
font-family: Bitter;
font-size: 2.4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p{
    color: var(--main-text);
    text-align: center;
    font-family: Bitter;
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%; 
    }
a, label{
    color: var(--main-text);
    font-family: Bitter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}
a:hover{
    color: var(--burgundy-color);
    font-weight: 500;
}
ul {
    list-style: none; 
    padding: 0; 
}
li {
    margin-bottom: 10px; 
}
button{
    width: 255px;
    height: 55px;
    color: var(--main-text);
    text-align: center;
    border: none;
    font-family: Bitter;
    font-size: 1rem;
    font-weight: 300;

    }
    @media(max-width:600px){
        button{
            width: 205px;
            }
        }           

.btn_white{
    background-color: rgb(25,23,3,0);
    border: 2px solid var(--main-text);
    }
.btn_white:hover{
    border: 2px solid var(--burgundy-color);
    color: var(--burgundy-color);
    font-weight: 400;
    }
.btn_red{
    background-color: var(--burgundy-color);
    }
.btn_red:hover{
        opacity: 0.5;
        background-color: var(--burgundy-color);
        color: var(--main-text);
    }
.section, .admin-section{
    min-height: 100vh;
    align-items: center;
    }
.admin-section{
    background-color: var(--main-text);
}
.container{
    width: 90%;
    background-color: var(--main-color);
    margin: 0 auto;
    }
    .srch_btn{
        width: 55px;
        height: 55px;

    }
.p_not_found {
    color: var(--main-color-background);

    letter-spacing: .1rem;
    font-size: 1.5rem;
}
.container_404 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.p_404{
    font-size: 2rem;
    color: var(--burgundy-color);
}
.p_status{
    color: var(--burgundy-color);

    letter-spacing: .1rem;
    font-size: 1.25rem;
}

.favoriter_p-not-fount{
  font-size: 2.5rem;
    padding: 100px 0 0 0;
}
::-webkit-file-upload-button{
    background-color: var(--main-color-background);
    color: var(--burgundy-color);
    text-align: center;
    border-right: 2px solid var(--burgundy-color);
    border-top: none;
    border-left: none;
    font-family: Bitter;
    height: 55px;
}
.inpt_file{
    padding: 0;
    
}
.img_post{
    margin-top: 5px;
    height: 310px;
    width: 438.5px;
}
.option{
    opacity: 0.5;
}
.like {
    color: var( --main-text);
    font-weight: 300;
    letter-spacing: .1rem;
  
}
.btn_back {
   height: 48px; 
}