.auth_container{
    padding: 100px 0;
}
#login-form{
align-items: center;
width: 564px;
min-height: 530px;
margin:0 auto;
background-color: var(--main-color-background);
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 60px 40px;
}

#form-signup, #update-form, #create-post-form {
    width: 564px;
    align-items: center;
    margin: 0 auto;
    background-color: var(--main-color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 40px;
}
#create-steps-form, #update-post-form{
    align-items: center;
    margin: 0 auto;
    background-color: var(--main-color-background);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 40px;
    min-height: 405px;
    border: 6px solid var(--main-color);
    border-bottom: none;
}
#form-signup{
    min-height: 817px;
}
#update-form, #create-post-form, #update-post-form{
    min-height: 1017px;
}
input, select{
    width: 255px;
    height: 55px;
    background: var(--main-color-background);
    color: var(--burgundy-color);
    padding-left: 20px;
    border: 2px solid var(--burgundy-color);
    opacity: 1;
    font-family: Bitter;
}
::placeholder{
    opacity: 1;
    color: var(--burgundy-color);
}
.p1{
    color: var(--burgundy-color);
}
form a{
    color: var(--burgundy-color);
    font-weight: 500;
} 
form a:hover{
    color: var(--main-text);
    font-weight: 500;
} 
.inp, .inp__div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.inp{
align-items: center;
}
.inp label, .inp_container label{
    color: var(--burgundy-color);
}
#file-upload-button{
    width: 255px;
    height: 55px;
    background: var(--main-color-background);
    color: var(--burgundy-color);
    border: 2px solid var(--burgundy-color);
}
.img_profile{
    margin-top: 5px;
    width: 255px;
    height: 305px;
}
.step {
    display: flex;
    gap: 10px
}
.step label{
    color: var(--burgundy-color);
    font-size: 1.5rem;
    margin: 10px;
}
.btn_back {
    padding: 20px 0 0  80px;
}
.like{
    color: var(--burgundy-color);
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 0 auto;
}
.inp_container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#delete{
    justify-content: center;
  display: flex;
  background-color: var(--main-color-background);
  border: 6px solid var(--main-color);
    border-top: none;
    padding: 20px 0;
}
#steps-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}