@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;700&family=Raleway:wght@400;500;600;700&display=swap');
.pag_nav{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 10px;
}
@media(max-width: 800px){
    .pag_nav{
        display: flex;
        justify-content: center;
        margin-right:0;
        margin-top: 10px;
        padding-bottom: 10px;
    }
}
.pag_nav_container{
    display: flex;
    flex-direction: column;
}
.pagination{
    display: flex;

}
.pagination-info{
    margin-top: 2px;
color: var(--burgundy-color);
letter-spacing: .2rem;
font-weight: 400;
align-self: end;
}

.page-item{
    margin-bottom: 0;
    width: 60px;
    height: 60px;
    border: 2px solid var(--main-color-background);
    margin-left: 2px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.page-link{
     color: var(--main-color-background); 
    font-size: 2rem;
   font-family: Bitter;
   font-weight: 300;
}


.page-item.active .page-link
{
    color: var(--burgundy-color);
}