body{
background-color: var(--main-color-background);
}
.container{
    background-color: var(--main-text);
}
.img_title{
display: block;
width: 877px;
height: 620px;
margin:0 auto;
}
.post{
padding-top: 80px;
padding-bottom: 100px;
width: 100%;
}
p{
    color: var(--main-color);
}
.p_main{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: .1rem;
}
.description{
    color: var(--burgundy-color);
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: .2rem;
}
.des{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.cont_des{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.p_name{
    color: var(--burgundy-color);
    font-weight: 300;
    letter-spacing: .1rem;
}
.p_des{
    font-weight: 400;
    letter-spacing: .1rem;
}
.des_a{
    
    color: var(--main-color);
}
.like{
    margin: 0 auto;
}

.btn{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-direction: column;
}
form{
    margin: 0 auto;
    }
.panel{
    display: flex;
    justify-content: space-between;
}
.btn_stop{
    margin-top: 20px;
  display: flex;
  justify-content: end;
  margin-right: 40px;
}
.btn_back {
    margin: 0 0 20px 80px;
}
.like{
    color: var(--burgundy-color);
}
.comment_form{
    display: flex;
    justify-content: center;

}
textarea{
    height: 55px;
    width: 355px;
    background-color: var(--main-text);
    border: 2px solid var(--burgundy-color);
    padding: 10px;
}
@media(max-width:1000px) {
    .img_title{
        width: 529px;
        height: 372px;
        }
        .post{
            padding-top: 20px;
            padding-bottom: 40px;
            }
            .btn_back {
                margin: 0 0 0 20px;
            }
}
@media(max-width:700px) {
    textarea{
        width: 205px;
    }
    .img_title{
        width: 442px;
        height: 310px;
        }
    .cont_des{
        gap: 5px;
      flex-direction: column;
    }
    .des{
        display: flex;
 justify-content: center;
    }
    }
    @media(max-width:550px) {
        .img_title{
            width: 268px;
            height:186px;
            }
        textarea{
            width: 175px;
        }
        .comment_btn{
            width: 105px;
        }
        }

