.profile_post_cont{
padding: 40px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}
.profile_cont{
    padding: 100px  auto;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Для выравнивания текста в центре */
}
.img_profile{
    width: 255px;
    height: 305px;
}
.line{
    margin-top: -40px;
    margin-right: -240px;
    border: 4px solid var(--burgundy-color) ;
    width: 255px;
    height: 305px;
}
.img-line{
    display: flex;
}
.cont_des{
    display: flex;
  flex-direction: column;
  gap: 20px;
margin: 0 auto;
}
.profile{
display: flex;
justify-content: center;
padding: 100px 0 0 0;
}

.profile__des{
    max-width: 405px;
    width: 100%;
    min-height: 20px;
    height: auto;
    word-wrap: break-word;
}
.des {
    display: flex;
    margin-bottom: 10px;
    
  }
  .p_des {
    font-weight: 600;
    color: var(--burgundy-color);
    margin-right: 10px;
    min-width: 70px;
  }
  
  .p_name, .p_name1 {
    width: 100%;
     font-size: 0.75rem;
     text-align: left;
     font-weight: 300;
     letter-spacing: .1rem;
  }
  .p_name1{
    color: var(--burgundy-color);
    font-weight: 400;
  }
  .post-name{
    margin: 40px 0 0 40px;
    font-weight: 200;
    margin-top: 20px;
    color: var(--main-text);
text-align: left;
    font-family: Bitter;
    font-size: 1.75rem;
}
.btn_stop {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    margin-right: 40px;
} 
.like{
    color: var(--burgundy-color);
}
